<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAu6yIS7VKyAVHH5AFvmOLOpOKqlXgcFrE</string>
	<key>GCM_SENDER_ID</key>
	<string>178197668801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fixit.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fixit-f252b</string>
	<key>STORAGE_BUCKET</key>
	<string>fixit-f252b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178197668801:ios:a5163b80b1eb038bdb8540</string>
</dict>
</plist>